# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/

# Secrets & env
.env
.env.*
functions/.env

# Certificates / keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Metro
.metro-health-check*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Vercel
.vercel